@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
}

.card-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border-radius: 25px;
    background-color: white;
    max-width: 250px;
    padding: 25px;  
    text-align: center;
}

.qr-image img {
    border-radius: 25px;
    max-width: 100%;
    height: auto;
}

p {
    font-size: 15px;
}

.principal-parag h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: large;
    color: hsl(218, 44%, 22%);
}

.secondary-parag p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}