@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(212, 45%, 89%);
}

.card-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 25px;
    background-color: white;
    text-align: center;
    max-width: 600px;
    max-height: 900px;
    padding: 25px;  
}

.qr-image {
    width: 100%;
    height: 100%;
}

.qr-image img {
    border-radius: 25px;
}

p {
    font-size: 15px;
}

.principal-parag p {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: large;
}

.secondary-parag p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}